In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
#creating path
path = r'C:\Users\haari\OneDrive\Documents\Instacart Basket Analysis'

In [3]:
#importing latest data frame
ords_prods_cust_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Processed Data', 'ords_prods_cust_merge.pkl'))

In [4]:
#check the output
ords_prods_cust_merge.shape

(32435059, 31)

In [5]:
ords_prods_cust_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,frequency,frequency_flag,first_name,last_name,gender,state,age,date_joined,num_of_dependants,income
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,20.5,Non-Frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,40423
1,2539329,1,prior,1,2,8,NaN,14084,2,0,...,20.5,Non-Frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,40423
2,2539329,1,prior,1,2,8,NaN,12427,3,0,...,20.5,Non-Frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,40423
3,2539329,1,prior,1,2,8,NaN,26088,4,0,...,20.5,Non-Frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,40423
4,2539329,1,prior,1,2,8,NaN,26405,5,0,...,20.5,Non-Frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,40423

In [6]:
#crosstab between 'days_since_prior_order' and 'order_number'
crosstab = pd.crosstab(ords_prods_cust_merge['days_since_prior_order'], ords_prods_cust_merge['order_number'], dropna = False)

In [7]:
#copying the crosstab table to clipboard
crosstab.to_clipboard()